# Xcode / Swift
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# User-specific settings
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# SwiftPM
.swiftpm/
.build/

# macOS
.DS_Store
